.focus-ring-container {
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 20px;
}

.focus-ring {

    width: 3%;
    height: auto;
    transform-origin: center;
    transform: rotate(0deg);
    transition: transform 0.1s linear;
}

@media screen and (max-width: 768px) {
    .focus-ring {
        display: none;
    }

    .focus-ring-container {
        display: none;
    }
}