/* Background Video Styling */
.backgroundvideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.backgroundvideo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#button_apply {
  width: 200px;
  background: var(--secondary-color);
  color: var(--primary-color);
  animation: zoom 2s infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.text-container {
  position: relative;
  padding: 10px;
}

.overlay-image1,
.overlay-image2 {
  position: absolute;
  bottom: -15px;
  object-fit: cover;
}

.overlay-image1 {
  right: 0;
  width: 70px;
  height: 60px;
  animation: move-right 5s infinite;
}

.overlay-image2 {
  left: -20px;
  bottom: -30px;
  width: 60px;
  height: 60px;
  animation: move-left 5s infinite;
}

@keyframes move-right {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

@keyframes move-left {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}

.inforrow {
  display: inline-block;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: medium;
  text-align: left;
}

.rightcol {
  align-items: center;
  text-align: center;
}

.left_right_col {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .learninfor {
    display: none;
  }

  #button_apply {
    width: 100px;
  }

  .overlay-image1,
  .overlay-image2 {
    display: none;
  }
}

.left-content {
  color: white;
}

.t_border {
  border: 1px solid white;
}

.form-container {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 30px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.form-container h3 {
  color: white;
  font-weight: bold;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-item {
  grid-column: span 1;
}

.form-item:nth-child(5) {
  grid-column: span 2;
}

.form-control,
.form-select {
  background-color: #1c1c1c;
  color: white;
  border: 1px solid #555;
}

.form-control::placeholder,
.form-select {
  color: #aaa;
}

.form-label {
  font-weight: bold;
}

.btn-submit {
  background-color: #444;
  border: 1px solid #888;
  color: white;
  padding: 10px;
  font-size: 18px;
  transition: all 0.3s ease;
}

.btn-submit:hover {
  background-color: #007bff;
  border: 1px solid #007bff;
  color: white;
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .form-item {
    grid-column: span 1;
  }
}
