.appointment-container {
    position: relative;
    max-width: 100%;
    min-height: 300px;
    /* padding: 1rem; */
    background-color: var(--overlay-color);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.table-wrapper {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #ddd;
    border-radius: 2px;
    min-height: 300px;
}

.appointment-table {
    min-width: 800px;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 !important;
}

.appointment-table th {
    background-color: black !important;
    color: var(--text-color);
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
    white-space: nowrap;
    position: sticky;
    top: 0;
    z-index: 10;
}

.appointment-table td {
    padding: 10px;
    font-size: 0.9rem;
    text-align: center;
    color: var(--text-color);
    white-space: nowrap;
    background-color: black !important;
    border: 1px solid var(--secondary-color);
}

.appointment-table tr:nth-child(even) {
    background-color: var(--overlay-color);
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.pagination-container .pagination {
    gap: 5px;
}

.pagination-container .page-item.active .page-link {
    background-color: #007bff;
    /* color: white; */
    color: var(--text-color);
    border: none;
}

.pagination-container .page-link {
    color: #007bff;
    border: none;
    font-size: 0.9rem;
}

.table-wrapper::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background-color: #b6b6b673;
    border-radius: 2px;
}

.appointment-table th,
.appointment-table td {
    padding: 10px;
    font-size: 0.9rem;
    text-align: center;
    color: #f1f1f1;
    border: 1px solid #333;
}

.appointment-table tr:nth-child(even) {
    background-color: #2a2a2a;
}

.appointment-table tr:hover {
    background-color: #444;
}

@media (max-width: 768px) {
    .pagination-container {
        margin-top: 0;
        justify-content: center;
    }

    .grain {
        display: block;
    }
}
